@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Play&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

@layer components {
  .btn-primary {
    @apply lg:p-4 p-2 mb-2 mr-2 font-primary text-[0.6rem] bg-purple-600 hover:bg-purple-900 font-bold tracking-wider  text-white lg:w-auto lg:text-lg rounded-3xl ;
  }
}

.my_logo_pending{
    font-size: 24px;
    animation: heartbeat 2s infinite;
}

@keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

.DropdownMenuContent {
  transform-origin: var(--radix-dropdown-menu-content-transform-origin);
  animation: scaleIn 0.3s ease-out;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.showcase_background{
  /* background: linear-gradient(63deg, rgb(242, 168, 168) 2.9%, rgb(94, 46, 165) 102.1%); */
  background: radial-gradient(237px at 50% 2.1%, rgb(78, 157, 184) 0.3%,  rgb(171, 181, 187) 100%);
}
.footer_background{
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgb(0, 5, 10) 100%);
  color: #360542;
}
.common_background{
  background: radial-gradient(circle, rgba(226,212,218,1) 0%, rgba(240,229,234,1) 40%);
}
.footer_background{
  background: radial-gradient(circle, rgb(176, 153, 163) 0%, rgba(192, 176, 183)40%);
}



