@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Play&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

.glob{
   transform-style: preserve-3d;
   transform: rotateX(20deg);
   animation: rotate 15s linear infinite;
}

@keyframes rotate {
    0%{
        background-position: 0 0;
    }

    100%{
        background-position: 530px 0;
    }
}

.my_logo_pending{
    font-size: 24px;
    animation: heartbeat 2s infinite;
}

@keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

.showcase_background{
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgb(177, 185, 193) 100%);
}
.footer_background{
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgb(0, 5, 10) 100%);
}
.common_background{
  background: radial-gradient(circle, rgba(226,212,218,1) 0%, rgba(240,229,234,1) 40%);}



