@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Play&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .showcase-title-text {
    @apply text-[1rem] tracking-wider md:text-[1.8rem] lg:text-[2rem] font-bold text-gray-800 dark:text-white font-secondary
  }
  .showcase-name-text {
    @apply text-[1.8rem] tracking-wider font-bold bg-gradient-to-r from-indigo-500  to-pink-500 bg-clip-text text-transparent  md:text-[3rem]   lg:text-[4rem] font-secondary 
  }
  .first-heading-text{
    @apply text-[2rem] lg:text-[3rem] bg-gradient-to-r from-indigo-500  to-pink-500 bg-clip-text text-transparent  uppercase font-bold font-primary tracking-widest 
  }
  .btn-primary {
    @apply lg:p-4 p-2 mb-2 mr-2 font-primary text-[0.6rem] bg-purple-600 hover:bg-purple-900 font-bold tracking-wider  text-white lg:w-auto lg:text-lg rounded-3xl ;
  }
  .icon-primary {
    @apply w-[1.3rem] h-[1.3rem] lg:h-[1.3rem] cursor-pointer dark:text-white text-black
  }
}

*{
  scroll-behavior: smooth;
}


.my_logo_pending{
    font-size: 24px;
    animation: heartbeat 2s infinite;
}

@keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

.DropdownMenuContent {
  transform-origin: var(--radix-dropdown-menu-content-transform-origin);
  animation: scaleIn 0.3s ease-out;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.showcase_background{
  background: radial-gradient(237px at 50% 2.1%, rgb(78, 157, 184) 0.3%,  rgb(171, 181, 187) 100%);
}
.footer_background{
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgb(0, 5, 10) 100%);
  color: #360542;
}
.common_background{
  background: radial-gradient(circle, rgba(226,212,218,1) 0%, rgba(240,229,234,1) 40%);
}
.footer_background{
  background: radial-gradient(circle, rgb(176, 153, 163) 0%, rgba(192, 176, 183)40%);
}



